* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  height: 80vh;
  width: 80vw;
}
#number {
  text-align: center;
  border-style: dashed;
  border-width: 4px 0px;
  border-color: navy;
  background-color: #c6b6f0;
  font: bold 30px cursive;
  padding: 10px;
}

#month {
  text-align: center;
  background-color: #f4e0ff;
  border-style: dashed;
  border-width: 4px 0px;
  border-color: navy;
  font: bold 30px cursive;
  padding: 10px;
}

#refreshBtn {
  background-color: #e1cffc;
  border-style: dashed;
  border-width: 4px 0px;
  border-color: navy;
  font: bold 30px cursive;
  padding: 10px;
}
