* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#formularz1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

input {
  margin: 10px;
  box-shadow: 5px 5px lightblue;
}

table {
  width: 100%;
}
