* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  border: 1px solid black;
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

.crate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

table,
td,
tr {
  border: 3px solid red;
  border-top: 0;
  border-collapse: collapse;
}
td {
  height: 150px;
  width: 150px;
}

img {
  height: 135px;
}
