* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aquamarine;
    font-family: "Arial Black", serif;
}

pre {
    display: none;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text1, #text2, #text3, #text4, #text5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span {
    cursor: pointer;
}